<!-- Footer -->
  <footer>
    <div class="bingo">
      <a href="#"><li>Folkets Bio i Lund | Kino:</li></a>
      <a href="https://www.google.se/maps/place/Kyrkogatan+3,Lund"><li>Kyrkogatan 3</li></a>
      <a href="#"><li>,30 30 80 | Södran:</li></a>
      <a href="https://www.google.se/maps/place/Stora-S%C3%B6dergatan+64,Lund"><li>Stora Södergatan 64:</li></a>
      <a href="#"><li>64, 046-13 10 50 |</li></a>
      <a href="#"><li>info@kinu.nu</li></a>
    </div>
</footer>