<header>
  <nav>
    <!-- Logo image -->
    <div class="header-logo-container">
      <img src="./img/logo.png" alt="logo image" />
    </div>
    <!-- Navigation menu -->
    <div class="menu-container">
      <div class="menu-dropdown">
        <a class="menu-link" href="http://localhost:5080/"> Start </a>
      </div>
      <div class="menu-dropdown">
        <a class="menu-link" href="http://localhost:5080/movies">Filmer </a>
      </div>
    </div>
    <!-- Movie advert -->
    <div class="hero-ad-container">
      <!-- <p>Movie advertisements 1100x200px</p> -->
      <img src="./img/banner1.jpg" alt="banner1" />
    </div>
  </nav>
</header>