
    <!-- Navigation menu -->
<div id="meny-search">
  <input placeholder="search" type="text">
  <button id="meny-search-btn"> sök </button>
</div>
<nav>
   <ul>
     <li><a href="http://localhost:5080/"><span class="fas fa-home"></span>Start</a></li>
     <li><a href="http://localhost:5080/movies" ><span class="fas fa-video"></span>Movies</a></li>
   </ul>
</nav>
