<main>
  <!-- Middle - Main content -->
  <div class="main-movie-container">
    {{#each movies}}
    <div id="{{id}}" class="movie-card">
      <a href="http://localhost:5080/movies/{{id}}"><img src="{{attributes.image.url}}" /></a>
    </div>
    {{/each}}
  </div>
</main>