<main>
  <!-- Middle - Main content -->
  <div class="main-container">
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/kommerSnart.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/inIDimman.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/lillaMamma.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="img/mainContent/annette.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/visasNu.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/inIDimman.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/fromTheWildSea.jpg" /></a>
    </div>
    <div class="main-container-content-article-small">
      <a href="#"><img src="./img/mainContent/martinEden.jpg" /></a>
    </div>
  </div>
</main>