<main>
    <section class="homepage-msg">
      <div class="start-text-container">
        <h1>welcome to<span>Kino Luleå</span></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Odio distinctio exercitationem, quia, temporibus dicta optio
          voluptatibus at quasi velit illum non earum eum molestiae culpa asperiores.
          Molestias eligendi pariatur itaque quas. Maiores eveniet praesentium possimus commodi,
          quam tempora velit iste quod impedit eaque voluptas aspernatur voluptatum perferendis
          distinctio mollitia aliquid!
        </p>
      </div>
      <div class="start-msg-img">
        <img src="/img/start-cover.jpg" alt="test">
      </div>
    </section>
</main>