<main>
    <section class="welcome-msg">
      <h2> welcome to </h2>
      <p> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Odio distinctio exercitationem, quia, temporibus dicta optio 
        voluptatibus at quasi velit illum non earum eum molestiae culpa asperiores. 
        Molestias eligendi pariatur itaque quas. Maiores eveniet praesentium possimus commodi, 
        quam tempora velit iste quod impedit eaque voluptas aspernatur voluptatum perferendis 
        distinctio mollitia aliquid!
      </p>
    </section>
</main>