<main>
    <article class="single-movie-article">
      <div class="img-container">
        <img src=" {{ movie.image.url}}" alt="movie poster">
      </div>
      <div class="text-container">
      <h1>{{ movie.title }}</h1>
      <div>{{{ markdown movie.intro }}}</div> 
      <a class="back-btn" href="http://localhost:5080/movies/"> << back </a>
      </div>
    </article>
</main>