@import "./Values/sizes";

main {
  width: 100%;
  max-width: $desktop;
  height: auto;
  margin: 17px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  overflow-x: scroll;
  display: flex;
  gap: $content_standard_gap;

  width: 100%;
  max-width: $desktop;
  img {
    width: 100%;
    &:hover {
      opacity: 0.7;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-container-content-article-small {
  overflow: hidden;
  border-radius: $bordRadius_standard;
  background-color: gray;
  min-width: 200px;
  height: 300px;
  img {
    height: 50%;
  }
}
