@import "./body";
@import "./parts/logo";
@import "./meny";
@import "./main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  img {
    width: 100%;
    object-fit: cover;
  }
}
html {
  font-size: 62.5%;
}
