@import "../mixins/standard-mixins";

.homepage-msg {
  background-color: white;
  display: flex;
  justify-content: space-between;

  width: 99%;
  height: 50rem;
  margin-top: 5rem;

  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.754);
  overflow: hidden;

  .start-text-container {
    width: 50rem;
    padding: 5rem;
    margin: auto;
    h1 {
      font-size: 2.4rem;
      span {
        display: block;
        font-size: 4rem;
        margin-left: 1rem;
      }
    }

    p {
      margin-top: 2.5rem;
      font-size: 1.6rem;
    }
  }

  .start-msg-img {
    width: 100%;
    max-width: 50rem;
    height: 100%;
    background-color: red;
  }
}

.main-movie-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 5rem;

  .movie-card {
    width: 25rem;
    height: 30rem;

    img {
      height: 100%;
      object-fit: fill;
      border-radius: 1rem;
      box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.754);
    }
  }
}