@import "../Values/colors";
@import "../Values/sizes";

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: $main-color;
  img {
    width: 60%;
  }
}
